<div id="<%= dom_id domain %>">
  <p>
    <strong>Name:</strong>
    <%= domain.name %>
  </p>

  <p>
    <strong>Role min level:</strong>
    <%= domain.role_min_level %>
  </p>

  <p>
    <strong>Owner:</strong>
    <%= domain.owner_id %>
  </p>

</div>
